#row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
}
#card {
    margin: 10px 0px;
}
.suggestions__container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.card-body {
    height: 150px;
    width: 600px;
}
.card-body:hover {
    background-color: rgb(34, 12, 236);
    color: white;
}