.suggestions {
    width: 100%
}
.suggestions__container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#suggestions-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#suggestions-cards__column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
#suggestions-cards__card {
    height: 200px;
    width: 300px;
    margin: 0px;
}