@font-face {
  font-family: Regular;
  src: url("../../Assets/Fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: Bold;
  src: url("../../Assets/Fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: Italic;
  src: url("../../Assets/Fonts/Karla-Italic.ttf");
}

#modal__button {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 0px 5px 18px;
}

#search-modal {
  width: 1500px;
}

.modal-content {
  width: 1500px;
}

#search-modal__button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  height: 38px;
  padding: 5px;
  margin: 0px 10px;
}

.search-modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../../Assets/Icons/search.svg") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin: 0px 2px 0px 2px;
  border: none;
}

.search-modal__button-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 2px 0px 2px;
}

#search-modal__header {
  font-family: Bold;
  background: white;
}

#search-modal__footer {
  background: white;
  padding: 15px 5px;
}

#search-modal__footer__button {
  font-family: Regular;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  height: 30px;
  width: 70px;
  padding: 5px 5px 10px 5px;
  margin: 0px 15px 0px 0px;
}

#search-modal__footer__button:hover {
  background-color: #004b87;
  color: white;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}

#explore-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#explore-cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  width: 130px;
  background-color: white;
  color: black;
  margin: 0px;
}

#explore-cards__card:hover {
  background-color: #004b87;
  color: white;
}

#explore-cards__card-title {
  font-family: Bold;
}

.explore-modal__header-title {
  font-family: Bold;
  font-size: 20px;
}

.explore-modal__header-description {
  font-family: Regular;
  font-size: 18px;
}

#explore-modal__cancel-button {
  font-family: Regular;
  background-color: white;
  color: black;
}

#explore-modal__cancel-button:hover {
  background-color: #004b87;
  color: white;
}
/*# sourceMappingURL=ModalStyles.css.map */