.generic__head-space {
  height: 70px;
  width: 100%;
}
#generic__row {
  display: flex;
  flex-wrap: wrap;
}

#generic__card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  height: 400px;
  width: 400px;
  border: 1px grey solid;
  border-radius: 4px;
}
.generic__header {
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 1px grey solid;
  border-radius: 4px;
}
.generic__image {
  width: 75%;
  height: 200px;
  border: 1px solid grey;
}
.generic__lower__card {
  display: flex;
  flex-direction: column;
}
.generic__shopmap {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  width: 500px;
  height: 200px;
  
}