@font-face {
  font-family: Regular;
  src: url("../../Assets/Fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: Bold;
  src: url("../../Assets/Fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: Italic;
  src: url("../../Assets/Fonts/Karla-Italic.ttf");
}

.btn-secondary {
  border: 1px solid #b3b3b0;
}

h1 {
  font-size: 15px;
}

.background-image {
  margin: 0px;
}

.generic__head-space {
  height: 70px;
  width: 100%;
}

#generic__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#generic__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding: 10px;
  height: 400px;
  width: 400px;
  border: 1px grey solid;
  border-radius: 4px;
}

.generic__header {
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: 1px grey solid;
  border-radius: 4px;
}

.generic__image {
  width: 75%;
  height: 200px;
  border: 1px solid grey;
}

.generic__lower__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.generic__shopmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px;
  width: 500px;
  height: 200px;
}

.home {
  text-align: center;
}

.home__two {
  max-width: 700px;
  margin: auto;
}

.home__two .blog-avatar__two {
  height: 100px;
  width: 200px;
  background-size: cover;
}

.container {
  max-width: 700px;
  margin: auto;
}

.home {
  max-width: 700px;
  margin: auto;
}

.blog-title {
  font-size: 35px;
  font-family: Bold;
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .blog-avatar {
  height: 100px;
  width: 200px;
  background-position: center;
  background-size: cover;
  margin: 1em auto;
}

.home .blog-description {
  font-size: 25px;
  color: #b3b3b0;
  line-height: 30px;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  font-family: Regular;
  border-bottom: 1px solid #DADADA;
}

.generic__previous-button {
  font-family: Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  margin: 0px 0px 0px 50px;
  width: 60px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.generic__previous-button:hover {
  background-color: #004b87;
  color: white;
}

.blog-post {
  margin-bottom: 3rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 30px;
  width: 350px;
  height: 350px;
  color: black;
  text-decoration: none;
}

.blog-post:hover {
  color: white;
  background-color: #004b87;
  text-decoration: none;
}

#post-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.shop__logo-box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 50px 0px 0px 0px;
}

.shop__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120px;
  width: 200px;
}

.shop__logo-box__br {
  border-top: 1px solid #b3b3b0;
}

.shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border: 1px solid #b3b3b0;
  border-radius: 5px;
  width: 60%;
  margin: 40px 0px;
}

.info__container {
  font-family: Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-size: 10px;
}

.generic__post__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 10px 0px;
}

#generic__post__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.generic__address {
  margin: 0px 5px 0px 0px;
}

#generic__post__title {
  font-size: 55px;
  font-family: Bold;
}

#generic__post__shops-description {
  font-size: 13px;
}

.generic__post__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.generic__post__contact-info__one {
  margin: 0px;
}

.generic__post__contact-info__break {
  border-left: 1px solid #b3b3b0;
  margin: 0px 10px;
  height: 12px;
}

#backup__container {
  width: 75%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 100px 0px 0px 0px;
}

#specific__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#shop__back {
  border: 1px solid #b3b3b0;
  border-radius: 4px;
  padding: 5px;
  color: #b3b3b0;
  font-size: 11px;
  text-decoration: none;
}

#shop__back:hover {
  background-color: #004b87;
  color: white;
}

#shop-modal {
  height: 200px;
}

.shop-modal__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 100%;
}

.shop-map__container {
  height: 400px;
  width: 100%;
}

.shop-map {
  height: 200px;
  width: 200px;
}

.wio-link {
  float: right;
}

/* 404 error page */
.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Loader animation */
#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.2em;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ripple:before, .lds-ripple:after {
  content: '';
  position: absolute;
  border: 4px solid #333;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple:after {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
/*# sourceMappingURL=Generic.css.map */