.generic__head-space {
  height: 70px;
  width: 100%;
}
#generic__row {

}
#generic__col {
  display: flex;
  flex-wrap: wrap;
}
#generic__card {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 300px;
}
