.scroll__container {
    display: flex;
    flex-direction: row;
}
.suggestions {
    color: white;
    font-size: 20px;
    margin: 0px 5px;
    background-color: rgba(0,0,0,.1);
    border: grey;
    box-shadow: none;
}
