#map__container {
display: flex;
justify-content: center;
align-content: center;
height: 300px;
}
.map-header__container {
    display: flex;
    justify-content: center;
    border: none;
}
.header {
    padding: 20px;
    border: 1px solid black;
}