.home__container__one {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 650px;
}
.organizer__one {
    display: flex;
    flex-direction: column;
    align-items: center;
}
