// color pallette

$grayDay: rgb(179, 179, 176);
$whiteAlyssum: rgb(235, 231, 227);
$blueLolite: rgb(26, 76, 139);
$blueQuartz: rgb(39, 67, 116);
$blackIris: rgb(56, 61, 77);
$blueAmsterdam: rgb(0, 75, 135);
$Regular: Regular;
$Bold: Bold;
$Italic: Italic;

// color pallette

// font pallette

@font-face {
  font-family: Regular;
  src: url('../../Assets/Fonts/Karla-Regular.ttf');
}
@font-face {
  font-family: Bold;
  src: url('../../Assets/Fonts/Karla-Bold.ttf');
}
@font-face {
  font-family: Italic;
  src: url('../../Assets/Fonts/Karla-Italic.ttf');
}

// font pallette
.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 650px;
}
.home__container__one {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 75%;
  height: 550px;
  background-image: url(../../Assets/Images/localify.jpg);
  background-size: cover;
}
.home__title {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: $Bold;
  font-size: 35px;
}
.home__company {
  margin: 0px 5px;
}
.home__city {
  margin: 0px 5px;
}
.home__organizers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.organizer__one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 500px;
  border: none;
  background-color: rgba(90, 129, 161, 0.7);
  margin: 0px 0px 20px 0px;
}
.organizer__two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 75px;
  width: 300px;
  border: 1px solid white;
  background-color: rgba(90, 129, 161, 0.7);
}
.home__container__two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 50px;
  margin: 25px 0px 15px 0px;
}
.suggestions-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
}
.suggestions-header__br {
  border-top: 1px solid $grayDay;
  width: 20%;
  margin: 10px 0px;
}
.suggestions-header__title {
  font-family: $Bold;
}
.home__container__four {
  height: 100px;
}

// home cards

#suggestions {
  width: 100%;
  background-color: white;
}
.suggestions__container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#suggestions-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#suggestions-cards__column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
#suggestions-cards__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 200px;
  width: 300px;
  margin: 0px;
}
#suggestions-cards__card:hover {
  background-color: $blueAmsterdam;
  color: white;
}
#suggestion-card__title {
  font-family: $Bold;
}
#suggestion-card__text {
  font-family: $Italic;
}

// scroller

.scroll__container {
  display: flex;
  flex-direction: row;
}
.suggestions {
  color: white;
  font-family: $Italic;
  font-size: 20px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border: grey;
  box-shadow: none;
}
.suggestions:hover {
  background-color: $blueAmsterdam;
  color: white;
}

// modal

#home-map__modal-button {
  border: none;
  background: none;
}

// MQ

@media screen and (min-width: 320px) and (max-width: 450px) {
  .home__container {
    height: 350px;
  }
  .home__container__one {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 75%;
    height: 300px;
    background-image: none;
    background-size: cover;
  }
  .organizer__one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 180px;
    border: none;
    background-color: white;
    margin: 0px;
  }
  .home__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: $Bold;
    font-size: 25px;
    padding: 10px;
    height: 80px;
    width: 180px;
  }
  .organizer__two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75px;
    width: 100px;
    border: 1px solid white;
    background-color: white;
  }
  .scroll__container {
    display: flex;
    flex-direction: column;
  }
  .suggestions {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    font-size: 11px;
    height: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px 0px;
  }
  #home-map__modal-button {
    font-size: 11px;
    color: black;
    height: 12px;
    padding: 0px;
  }

  // suggestion cards

  #suggestions-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
  }
  #suggestions-cards__card {
    color: black;
    height: 200px;
    width: 300px;
    border: 1px solid black;
  }
}
