@font-face {
  font-family: Regular;
  src: url("../../Assets/Fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: Bold;
  src: url("../../Assets/Fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: Italic;
  src: url("../../Assets/Fonts/Karla-Italic.ttf");
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid grey;
  width: 75%;
  height: 200px;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  padding: 10px;
}

.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0px 0px 5px;
  width: 200px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../../Assets/Icons/icons8-copyright-96.svg) no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin: 0px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  padding: 10px;
}

.footer__aid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0px 0px 0px;
  height: 20px;
  width: 200px;
}

.footer-br {
  border-left: 1px solid #b3b3b0;
  margin: 0px 10px;
  height: 40px;
}

#footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid #b3b3b0;
  font-family: Regular;
}

#footer__button:hover {
  background-color: #004b87;
  color: white;
}

.footer__contact-logo {
  background: url("../../Assets/Icons/icons8-contact-info-100.png") no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.footer__help-logo {
  background: url("../../Assets/Icons/icons8-mandatory-100.png") no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.footer__word {
  margin: 0px 5px;
  font-size: 16px;
  height: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#help-modal__button {
  background-color: white;
  color: black;
  border: 1px solid #b3b3b0;
}

#help-modal__button:hover {
  background-color: #004b87;
  color: white;
}

.footer__help-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.help__input__title {
  margin: 0px 10px 0px 0px;
}

.help__input {
  width: 600px;
  height: 150px;
}

.footer__contact-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact__questions {
  margin: 0px 10px 0px 0px;
}

.footer__contact-email {
  text-decoration: none;
  width: 100px;
  height: 40px;
}

.footer__contact-link {
  text-decoration: none;
}
/*# sourceMappingURL=Footer.css.map */