// color pallette

$grayDay: rgb(179, 179, 176);
$whiteAlyssum: rgb(235, 231, 227);
$blueLolite: rgb(26, 76, 139);
$blueQuartz: rgb(39, 67, 116);
$blackIris: rgb(56, 61, 77);
$blueAmsterdam: rgb(0, 75, 135);
$Regular: Regular;
$Bold: Bold;
$Italic: Italic;

// color pallette

// font pallette

@font-face {
  font-family: Regular;
  src: url('../../Assets/Fonts/Karla-Regular.ttf');
}
@font-face {
  font-family: Bold;
  src: url('../../Assets/Fonts/Karla-Bold.ttf');
}
@font-face {
  font-family: Italic;
  src: url('../../Assets/Fonts/Karla-Italic.ttf');
}

// font pallette

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid $grayDay;
  background-color: white;
}
.footer__container {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 100px;
}
.footer__left {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 10px;
}
.footer__legal {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 0px 5px;
  width: 200px;
}
.footer__copyright {
  display: flex;
  background: url(../../Assets/Icons/icons8-copyright-96.svg) no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}
.footer__logo {
  display: flex;
  font-size: 16px;
  margin: 0px;
}
.footer__right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 10px;
}
.footer__aid {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 15px 0px 0px 0px;
  height: 20px;
  width: 200px;
}
#footer__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid $grayDay;
  font-family: $Regular;
}
#footer__button:hover {
  background-color: $blueAmsterdam;
  color: white;
}
.footer__contact-logo {
  background: url('../../Assets/Icons/icons8-contact-info-100.png') no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px;
}
.footer__help-logo {
  background: url('../../Assets/Icons/icons8-mandatory-100.png') no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px;
}
.footer__word {
  margin: 0px 5px;
  font-size: 16px;
  height: 20px;
  align-content: center;
}

// footer help modal

#help-modal__button {
  background-color: white;
  color: black;
  border: 1px solid $grayDay;
}
#help-modal__button:hover {
  background-color: $blueAmsterdam;
  color: white;
}
.footer__help-input {
  display: flex;
  flex-direction: row;
}
.help__input__title {
  margin: 0px 10px 0px 0px;
}
.help__input {
  width: 600px;
  height: 150px;
}
// footer help modal

// footer contact modal

.footer__contact-input {
  display: flex;
  flex-direction: row;
}
.contact__questions {
  margin: 0px 10px 0px 0px;
}
.footer__contact-email {
  text-decoration: none;
  width: 100px;
  height: 40px;
}
.footer__contact-link {
  text-decoration: none;
}

// MQ


@media screen and (min-width: 320px) and (max-width: 450px) {
  .footer {
    height: 150px;
  }
  .footer__container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100px;
  } 
  .footer__left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .footer__legal {
    display: flex;
    flex-direction: row;
    margin: 40px 0px 10px 0px;
    width: 200px;
  }
}

@media screen and (min-width: 451px) and (max-width: 1199px) {
   
}

@media screen and (min-width: 1200px) {

}