.navsearch__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
}

.navsearch__logo {
  background: url("../../Assets/Icons/search.svg") no-repeat;
  height: 30px;
  width: 30px;
}

.search__container__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  height: 100px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.search__shops__route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 60px;
  border: 1px solid black;
  border-radius: 3px;
}

.searchbar {
  float: right;
  background-color: white;
  color: black;
  padding: 6px 10px;
  width: 120px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-bottom: black solid 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.searchbar::-webkit-input-placeholder {
  color: black;
  font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.searchbar:-ms-input-placeholder {
  color: black;
  font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.searchbar::-ms-input-placeholder {
  color: black;
  font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.searchbar::placeholder {
  color: black;
  font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* transition: 0.2s; */
}

.searchbar:focus {
  width: 400px;
  font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Stops the input box from inheriting the styling from the inputs on the request form */
  border-bottom: black solid 2px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: black;
  text-decoration: none !important;
  font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;
}

.search {
  height: 100%;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__container__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__input {
  margin: 0px 0px 10px 0px;
  border: 1px solid black;
}

.search__shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  height: 100px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.active, .search__shops:hover {
  background-color: #081e9b;
  color: white;
  text-decoration: none;
}

.search__shops__route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 150px;
  border: none;
}

.search__shop-name {
  text-decoration: none;
  font-size: 13px;
}
/*# sourceMappingURL=Search.css.map */